<div class="row g-0 text-start mt-3">
  <div class="col-sm">
    <img src="assets/media/our-approach.svg" class="img-responsive" />
  </div>
</div>

<div class="container">
  <div class="row text-center mt-3">
    <p>
      Creating unique concepts is at the forefront of what we do and we understand that every business has its own needs
      and goals. Our approach is focused on collaboration and creativity, without taking away your vision your unique
      business goals.
    </p>
  </div>
  <div class="d-flex justify-content-start flex-row mt-5 flex-wrap">
    <div class="p-2">
      <img src="assets/media/understanding.svg" class="img-responsive" />
    </div>
    <div class="p-2">
      <img src="assets/media/visualising.svg" class="img-responsive" />
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-end mb-3">
    <div class="p-2">
      <img src="assets/media/creating.svg" class="img-responsive" />
    </div>
    <div class="p-2">
      <img src="assets/media/delivering.svg" class="img-responsive" />
    </div>
  </div>
  <div class="row text-center mt-5">
    <p>
      Boorgundy isn’t just to create assets for your brand. Our goal is to give you a sense of confidence in your
      business and help you feel more prepared to take your brand to the next level.
    </p>
  </div>
  <div class="row text-center">
    <p>
      These steps structure how we work and help us produce the best work for you but they are not set in stone; our
      main goal is to serve your business so our approach is flexible. If you feel that our packages are not a perfect
      fit, they can be tailored to meet your unique requirements - we’d love to have a chat!
    </p>
  </div>
</div>
