@import './src/utilities/variables';

.img-responsive {
  max-width: 90%;
}

.img-container {
  text-align: center;
  display: block;
}

.margin-custom {
  margin-top: 7rem;
  margin-bottom: 3.5rem;
}

.margin-packages-end {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.img-responsive-margin {
  max-width: 90%;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #ff0040;
}

.text-div {
  min-width: 100%;
}
