<div class="container">
  <div class="d-flex justify-content-center flex-row flex-wrap mt-5">
    <img src="assets/media/lets-work-together.svg" class="img-responsive-margin" />
  </div>
  <div class="row text-center">
    <p>
      Think of Boorgundy as your one stop shop for your business: stylist, model, makeup artist, creative director,
      photographer and retoucher in one. More often than not, putting together a creative team that is on the same page
      with you comes with unnecessary stress, time and struggles.
    </p>
  </div>
  <div class="row text-center">
    <p>
      Having us on board allows you to focus on other aspects of your business, while we work collaboratively and
      transparently to organise, produce and deliver the best visuals for your brand.
    </p>
  </div>
  <div class="row text-center">
    <p>
      Growing your business doesn’t feel as overwhelming when you have us to deliver fun, high-quality content for your
      brand, from A to Z.
    </p>
  </div>
  <div id="packages">
    <div class="d-flex justify-content-center text-center flex-row flex-wrap margin-custom">
      <img src="assets/media/our-packages.svg" class="img-responsive-margin" />
    </div>
    <div class="d-flex justify-content-center flex-row flex-wrap">
      <img src="assets/media/the-burgundy.svg" class="img-responsive-margin" />
      <img src="assets/media/the-crimson.svg" class="img-responsive-margin" />
    </div>
    <div class="d-flex justify-content-center flex-row flex-wrap margin-packages-end">
      <img src="assets/media/the-tangerine.svg" class="img-responsive-margin" />
      <img src="assets/media/the-rose.svg" class="img-responsive-margin" />
    </div>
  </div>
  <div class="row text-center">
    <p>
      The way we see it, branding isn’t one size fits all. You’re one-of-a-kind, and your brand deserves to be
      one-of-a-kind, too. Let’s build a custom brand that conveys your vision through a carefully-crafted voice and
      striking visuals.
    </p>
  </div>
  <div class="row justify-content-center text-center">
    <p>
      It’s easy to get in touch - the form below offers us all the information we need to get started, if you fill in
      the required fields.
    </p>
    <p>
      For any other information (or just to say hi!) you can contact us via email at
      <a href="mailto:boorgundy@gmail.com">boorgundy@gmail.com</a> - we’re happy to hear from you either way.
    </p>
  </div>
</div>
