<div class="container">
  <div class="d-flex justify-content-center text-center flex-rowflex-wrap header-margin">
    <img src="assets/media/header-boorgundy.jpg" class="img-responsive-margin" />
  </div>
  <div class="row mt-3 text-center">
    <p>
      Boorgundy is a unique all-in-one service that provides your brand with high-quality editorial content without the
      hassle.
    </p>
  </div>
  <div class="row text-center">
    <p>
      London-based and internationally connected, we work as a dynamic duo to offer you the only service you’ll need for
      top-notch content for your websites and other medias.
    </p>
  </div>
  <div class="row text-center">
    <p>
      We know how hard it is for brands to find a team of people who share the same vision for your perfect campaign:
      stylist, model, photographer, make-up artist, retoucher. We deliver all of that in one serving.
    </p>
  </div>
  <div class="row text-center">
    <p>
      We work in collaboration with you to bring your vision to life: from moodboards and ideation to vibrant, artful
      pieces of content that will push your brand forward.
    </p>
  </div>
</div>
