<div class="container">
  <div class="row">
    <div class="col container-content">
      <img src="https://picsum.photos/1000" />
    </div>
    <div class="col container-content">
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nunc in mi euismod, at ullamcorper ipsum
          efficitur. Proin non dolor vel nunc blandit semper. Donec nec metus tempor, ullamcorper ante ac, consectetur
          enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu porttitor ipsum. Aenean nec mollis
          diam. Donec dapibus nisi non lobortis tincidunt.
        </p>
        <p>
          Cras cursus nisi in metus gravida, a blandit nisi volutpat. Nullam id nisl non libero maximus sagittis. Cras
          molestie diam ac elit tempor laoreet. Integer eros metus, dictum nec tristique ut, euismod a elit. Donec nec
          tellus nisi. Pellentesque feugiat leo ut tortor ultrices feugiat. Vestibulum vehicula neque arcu, vitae
          fringilla nulla semper ut. Fusce efficitur diam ut mauris pulvinar cursus.
        </p>
      </div>
      <div class="row">
        <app-email-us></app-email-us>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col container-content">
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nunc in mi euismod, at ullamcorper ipsum
          efficitur. Proin non dolor vel nunc blandit semper. Donec nec metus tempor, ullamcorper ante ac, consectetur
          enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu porttitor ipsum. Aenean nec mollis
          diam. Donec dapibus nisi non lobortis tincidunt.
        </p>
        <p>
          Cras cursus nisi in metus gravida, a blandit nisi volutpat. Nullam id nisl non libero maximus sagittis. Cras
          molestie diam ac elit tempor laoreet. Integer eros metus, dictum nec tristique ut, euismod a elit. Donec nec
          tellus nisi. Pellentesque feugiat leo ut tortor ultrices feugiat. Vestibulum vehicula neque arcu, vitae
          fringilla nulla semper ut. Fusce efficitur diam ut mauris pulvinar cursus.
        </p>
      </div>
      <div class="row">
        <app-see-insta></app-see-insta>
      </div>
    </div>
    <div class="col container-content">
      <img src="https://picsum.photos/1000" />
    </div>
  </div>
  <div class="row">
    <div class="col container-content">
      <img src="https://picsum.photos/1000" />
    </div>
    <div class="col container-content">
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum nunc in mi euismod, at ullamcorper ipsum
          efficitur. Proin non dolor vel nunc blandit semper. Donec nec metus tempor, ullamcorper ante ac, consectetur
          enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu porttitor ipsum. Aenean nec mollis
          diam. Donec dapibus nisi non lobortis tincidunt.
        </p>
        <p>
          Cras cursus nisi in metus gravida, a blandit nisi volutpat. Nullam id nisl non libero maximus sagittis. Cras
          molestie diam ac elit tempor laoreet. Integer eros metus, dictum nec tristique ut, euismod a elit. Donec nec
          tellus nisi. Pellentesque feugiat leo ut tortor ultrices feugiat. Vestibulum vehicula neque arcu, vitae
          fringilla nulla semper ut. Fusce efficitur diam ut mauris pulvinar cursus.
        </p>
      </div>
      <div class="row">
        <app-email-us></app-email-us>
      </div>
    </div>
  </div>
</div>
