@import '../../utilities/variables';

.container-content img {
  width: 600px;
}

.container-content {
  padding-top: 10%;
}

p {
  font-family: 'Montserrat';
  color: $dark-sienna;
  font-size: 2vmin;
}
