<div class="container-fluid">
  <div class="row">
    <div class="col">
      <img src="assets/images/home/1.jpg" class="img-fluid" />
    </div>
    <div class="col text-center mt-auto mb-auto">
      <p class="h3">Hi, I am Indira!</p>
      <p>MODEL | CONTENT CREATOR | POLE DANCER | MORE</p>
      <p class="h6">
        <i class="bi bi-geo-alt-fill"></i>
        London, UK
      </p>
      <p class="mt-2">
        <a href="/portfolio" type="button" class="btn btn-primary">Portfolio</a>
      </p>
    </div>
  </div>
  <div class="row mt-3 text-center">
    <p>
      I specialize in editorial and beauty shots and have a strong interest in
      creativity & high fashion.
    </p>
    <p>
      I celebrate and love my multi-faceted identity as a model, pole dancer,
      and software developer (yes, I built this website!).
    </p>
    <p>I indulge in all types of creative hobbies and movement expressions.</p>
  </div>
  <div class="row mb-3">
    <div class="col-sm">
      <img src="assets/images/home/2.jpg" class="img-fluid" />
    </div>
    <div class="col-sm text-center">
      <p class="h5" class="mt-2 mb-2">MY STORY</p>

      <p>
        I grew up in Romania as a very active kid with many interests: fashion,
        beauty, dancing, singing, and being in front of the camera. Due to my
        circumstances, I built a career as a software developer, quite
        antithetical to my passions.
      </p>
      <br />
      <p>
        After modelling as a hobby for 10 years, I am currently working on
        building my professional modelling career.
      </p>
      <br />
      <p>
        My goal is to show myself and the world that with determination, you can
        become a successful model at any age.
      </p>
    </div>
    <div class="col">
      <img src="assets/images/home/3.jpg" class="img-fluid" />
    </div>
  </div>
</div>
